<md-content class="main-content" ng-controller="UserCtrl" ng-init="onInit('<%= type %>')">

  <md-table-toolbar>
    <div layout="row" layout-xs="column" class="padding" layout-align-gt-sm="start center">

      <md-input-container class="md-block no-margin padding-bottom" md-no-float flex-gt-sm="33">
        <input type="text" translate-cloak="SEARCH" translate-attr="{ placeholder: 'SEARCH' }"
          ng-model="query.canonical" ng-keypress="$event.keyCode === 13 && onRefresh()">
      </md-input-container>

      <% if (type==='admin' ) { %>
        <span flex></span>
        <md-button class="md-primary md-raised" md-colors="::{ color: 'white' }" aria-label="New"
          ng-click="onEdit($event)" translate="CREATE" translate-cloak="CREATE">
        </md-button>
        <% } %>

    </div>
  </md-table-toolbar>

  <md-table-container>
    <table md-table md-progress="promise">
      <thead md-head>
        <tr md-row>
          <th md-column></th>
          <th md-column class="text-center text-uppercase bold">
            <span translate="USERNAME" translate-cloak="USERNAME"></span>
          </th>
          <th md-column class="text-center text-uppercase bold">
            <span translate="EMAIL" translate-cloak="EMAIL"></span>
          </th>
          <th md-column class="text-center text-uppercase bold">
            <span translate="CREATED_AT" translate-cloak="CREATED_AT"></span>
          </th>
          <th md-column></th>
        </tr>
      </thead>
      <tbody md-body>
        <tr md-row ng-repeat="user in users">
          <td md-cell>
            <img class="img-thumb img-circle" ng-src="/images/avatar.png" actual-src="{{:: user.photo.url() }}" />
            {{:: user.name || ('GUEST' | translate) }}
          </td>
          <td md-cell class="text-center">
            <span ng-if="!user.isAnonymous()">{{:: user.username }}</span>
          </td>
          <td md-cell class="text-center">{{:: user.email }}</td>
          <td md-cell class="text-center">{{ user.createdAt | date:'mediumDate' }}</td>
          <td md-cell>
            <section layout="row" layout-align="center center">
              <md-button class="md-icon-button md-primary" ng-click="onEdit($event, user)" aria-label="Edit">
                <ng-md-icon icon="mode_edit"></ng-md-icon>
              </md-button>
              <md-button class="md-icon-button md-primary" ng-click="onDelete($event, user)" aria-label="Delete">
                <ng-md-icon icon="clear"></ng-md-icon>
              </md-button>
            </section>
          </td>
        </tr>
      </tbody>
    </table>
  </md-table-container>

  <md-table-pagination md-limit-options="rowOptions" md-limit="query.limit" md-page="query.page"
    md-total="{{query.total}}" md-on-paginate="onPaginationChange"
    md-label="{ rowsPerPage: '{{ 'ROWS_PER_PAGE' | translate }}', of: '{{ 'OF' | translate }}' }">
  </md-table-pagination>

</md-content>