<md-content class="main-content">

  <section layout="row" layout-padding>
    <div flex>
      
      <img  ng-src="/images/m2.png" actual-src="{{:: slide.image.url() }}" />
      <img  ng-src="/images/dashboard.png" actual-src="{{:: slide.image.url() }}" />
      <h2 translate="Panel de Administraci칩n" translate-cloak="WELCOME"></h2>
      <h5>Mediante este panel se tendr치 un control sobre todas las caracteristicas dise침adas y establecidas para gestionar la aplicaci칩n de cupones.</h5>
    </div>
  </section>
</md-content>